.dropdown__item-list {
  animation: slidedown var(--transition-time-m) ease forwards;
  padding: var(--spacing-s);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes slidedown {
  from {
    transform-origin: left top;
    transform: scaleY(0);
  }
  to {
    transform-origin: left top;
    transform: scaleY(1);
  }
}
