.dropdown__item {
  height: 3em;
  border-radius: var(--border-radius-m);
  border: var(--primary-color) .2em solid;
  padding: 0 var(--spacing-m);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--spacing-m);
  cursor: pointer;
  transition: var(--transition-time-s) ease;
  color: var(--primary-color);
  margin-bottom: var(--spacing-s);
}

.dropdown__item:last-of-type {
  margin-bottom: 0;
}

.dropdown__item:hover {
  background: var(--primary-color);
  color: var(--contrast-color);
}
