.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown--opened {
  background: var(--contrast-color);
  border-radius: var(--border-radius-m);
  transition: var(--transition-time-s) ease;
  animation: slidedown .3s ease forwards;
}

.dropdown--closed {
  animation: slideup .3s ease forwards;
}

.dropdown__icon {}

.dropdown__icon--opened {
  animation: turn180 .2s ease forwards;
}

.dropdown__icon--closed {
  animation: turn180 .2s ease reverse forwards;
}

@keyframes slidedown {
  from {
    transform-origin: top;
    transform: scaleY(.7);
  }
  to {
    transform-origin: top;
    transform: scaleY(1);
  }
}

@keyframes slideup {
  from {
    transform-origin: left top;
    transform: scaleY(1.3);
  }
  to {
    transform-origin: left top;
    transform: scaleY(1);
  }
}

@keyframes turn180 {
  from {
    /* transform-origin: left top; */
    transform: rotate(0deg);
  }
  to {
    /* transform-origin: left top; */
    transform: rotate(180deg);
  }
}
