.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-m);
  align-items: flex-start;
}

.form-field:last-of-type {
  margin-bottom: 0;
}

.form-field__label {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-l);
  color: var(--contrast-color);
  text-transform: uppercase;
  margin-bottom: var(--spacing-s);
}
