.button {
  min-width: 3em;
  height: 3em;
  font-size: var(--default-font-size);
  border-radius: var(--border-radius-m);
  border: var(--contrast-color) var(--border-width-m) solid;
  color: var(--contrast-color);
  background: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--spacing-m);
  cursor: pointer;
  transition: var(--transition-time-s) ease;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  background: var(--contrast-color);
  color: var(--primary-color);
}

.button:active {
  opacity: .7;
  transform: translate(.01em, .1em);
  transition: var(--transition-time-s) ease;
}

.button--only-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button__icon-area--with-text {
  justify-self: flex-end;
  margin-left: var(--spacing-s);
}

.button__icon-area {
  height: 1.5em;
  width: 1.5em;
}

.button__icon-area>* {
  height: 100%;
  width: 100%;
}

.button:hover .button__icon-area * {
  fill: var(--primary-color);
}

.button__icon-area * {
  transition: var(--transition-time-s) ease;
  fill: var(--contrast-color);
}
