.three-row-layout {
  display: grid;
  grid-template-rows: 5em calc(100% - 10em) 5em;
  height: 100%;
}

.three-row-layout__top {
  grid-row: 1;
}

.three-row-layout__middle {
  align-self: stretch;
  justify-self: stretch;
  grid-row: 2;
}

.three-row-layout__bottom {
  grid-row: 3;
}
