.three-column-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.three-column-layout__left {
  grid-column: 1;
}

.three-column-layout__center {
  grid-column: 2;
}

.three-column-layout__right {
  grid-column: 3;
}
