:root {
  --primary-color: #602048;
  --contrast-color: #ffffff;
  --spacing-xl: 2em;
  --spacing-l: 1.3em;
  --spacing-m: 1em;
  --spacing-s: .5em;
  --spacing-xs: .3em;
  --font-size-xl: 2em;
  --font-size-m: 1em;
  --font-size-s: .8em;
  --border-radius-m: 1.7em;
  --border-radius-l: 2.5em;
  --border-width-m: .2em;
  --font-weight-l: 600;
  --transition-time-m: .3s;
  --transition-time-s: .2s;
  --transition-time-xs: .1s;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-size: 1.2em;
  color: var(--contrast-color);
}

a {
  color: var(--contrast-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  padding: var(--spacing-xl) var(--spacing-xs);
  box-sizing: border-box;
}

.debug>* {
  margin-bottom: var(--spacing-xl);
}

.debug>*:first-child {
  margin-top: var(--spacing-xl);
}
